# Python virtual environment
env/
__pycache__/
*.pyc

# Large datasets
dataset/Fake.csv
dataset/True.csv

# OS-specific files
.DS_Store
Thumbs.db

# Model files
*.pkl
"env/" 
"dataset/Fake.csv" 
"dataset/True.csv" 
